ignorecase = true
# don't want to include any of the build artifacts or
# IDE config (.cfg) files.

# start up logo screens
!screens/*.obj
# these are items that no source code has been found.
!src/nosrc/*.obj

# original object files
!src/oldobj/*.obj

src/*.tpu
src/tools/*.tpu
src/*.tpp
src/*.bak
#
src/*.obj
src/*.exe
src/tools/*.exe
src/*.com
src/*.ovr
src/*.map
src/*.bak
src/qmodem.log

*.bak
src/tools/*.bak
qmodem.log

!src/tpc.cfg
!src/bpc.cfg
